[2015-02-07 16:07] zertap opened #1 "Option to not have the filename suffix"
^Pretty much self explanatory.
Instead of xxxxxx_filename -> xxxxxx.ext

[2015-02-07 18:00] nokonoko commented on #1
This is in place since the user can use any custom filename rather than a randomly generated one.

[2015-02-09 08:14] zertap commented on #1
Just to clarify, I meant that if you do not want to append neither the original filename, or a custom one. Tho you probably figured this since you re-opened the issue.

[2015-02-10 14:22] nokonoko commented on #1
Yeah, I'll add a option for it.

[2015-02-11 16:40] nokonoko commented on #1
There, you can now do no suffix random filename, a bit messy and double dot not working yet, will have to add that and clean up a bit.

[2015-03-27 02:44] zpt opened #6 "File upload button doesn't appear in IE11"
OS: Windows 8.1 Pro x64
Browser: Internet Explorer 11.0.9600.17690

The button div (class="btn") doesn't show up at all. I can't seem to find what's wrong in the CSS.

[2015-04-05 14:03] zetok opened #7 "License?"
As it is currently, Uguu is a proprietary code, since that's what missing license means.
I think that it's not the desired state of things?

If you are not sure which one to pick, there's https://tldrlegal.com/

Depending on what you want, you most likely may want to pick one of "main" licenses:
* [MIT](https://tldrlegal.com/license/mit-license)
* [BSD](https://tldrlegal.com/license/bsd-3-clause-l

[2015-04-05 17:55] nokonoko commented on #7
Oh I forgot to add it, should be same as Pomf which is MIT.

[2015-04-05 18:13] zetok commented on #7
Thanks :)

[2015-04-05 18:13] #7 closed

[2015-04-05 19:50] zetok opened #8 "Using uguupload causes problems if supplied path contains '/'"
When using [uguupload](https://github.com/dongmaster/uguupload) with file path that contains ``/`` uguu.se seems to have a problem.

When I've tried to upload file:
[code]
It's not possible to open http://a.uguu.se/ysvnml_working%2Faaaa%2Fdesktop.png

[2015-04-05 19:53] nokonoko commented on #8
Try uploading again now.

[2015-04-05 20:37] zetok commented on #8
It's still reproducible

[2015-04-05 20:43] nokonoko commented on #8
Now you should not be able to produce the error again.

[2015-04-05 20:46] zetok commented on #8
yep, now it works.

Thanks for fix!

[2015-04-05 20:46] #8 closed

[2015-04-05 20:47] nokonoko commented on #6
Hmmm, @Availu any ideas?

[2015-04-05 22:17] Availu commented on #6
![image](http://img.redrosid.pw/uninspired.png)
Works fine for me, same OS and IE build as OP :(

[2015-04-06 17:58] nokonoko commented on #6
Works fine? The select file button is gone man ;_;

[2015-04-06 18:28] avail commented on #6
Ohhhh. That button. Derp. Let's seeee

[2015-04-06 18:38] avail commented on #6
https://github.com/nokonoko/Uguu/pull/9 this should fix it.

[2015-04-06 18:51] nokonoko commented on #6
Patch merged and applied to live server, should be good to go now.

[2015-04-06 18:55] avail commented on #6
Still doesn't work because materialized overrides my position:relative; even though it gets set *after* materialized sets it... https://github.com/nokonoko/Uguu/pull/10 should actually fix it completely

[2015-04-06 18:59] nokonoko commented on #6
Yeah noticed, broke on all browsers, not it seems to work fine on all browsers including IE tho.

[2015-04-06 18:59] avail commented on #6
Goodie.

[2015-04-06 19:00] #6 closed

[2015-04-22 19:28] #1 closed

[2015-04-23 21:46] JamesTheAwesomeDude opened #11 "Delete files after inactivity?"
Would it be possible to implement a setting to delete a file once it's not been downloaded for a consecutive hour?

This could prove useful.

[2015-04-23 21:48] nokonoko commented on #11
I'll look into it but that would mean it can't be served directly from Nginx unless I make some filthy hack that checks when it was accessed in the file system.

[2015-04-30 13:59] avail commented on #11
A cron job that runs a php script?

[2015-05-01 20:57] nokonoko commented on #11
Sure or just a bash script, however for any of it to work we need to know when it was last accessed by Nginx, so still applies to what I said above.

I guess I can mess around with it.

[2015-05-01 23:29] avail commented on #11
json/sql(ite) database?

[2015-05-06 15:16] SEAPUNK opened #12 "puush-like MIME type autodetection"
One problem I've been having is when I upload files (for example, a jpg) with no extension at the end, it ~~assumes~~ defaults to application/octet-stream, and that's obviously not desired. It would be cool if your software could auto detect the file's type via, say, libmagic, and set the header on download.

[2015-05-07 01:11] JamesTheAwesomeDude commented on #11
Does not the filesystem provide read timestamps?

[2015-05-07 05:18] avail commented on #11
No, only date created

[2015-05-09 20:05] jackwilsdon commented on #11
One way would be to store the latest time downloaded when someone downloads a file, and then just check it the next time someone wants to download it. If an hour has passed since it was last downloaded then render the error page and delete the file in the background. This would also mean the file is deleted automatically after the 24 hours, even if accessed in the last hour.

[2015-06-07 14:03] zetok opened #14 "Bigger, clearly marked region for "drag & drop""
Currently region for `drag & drop` is very small, which makes it harder to quickly drag & drop file(s) to upload them.

Additionally, there's no real indication of Uguu supporting it, which initially led me to belief there there was no support for it.. It would be nice to have something like https://img.bi/ , perhaps "field" for drag & drop could "appear" only when there's a need for it?

[2015-10-06 20:20] tsudoko opened #17 "New error pages make upload scripts return ugly errors when upload fails"
There's a huge piece of HTML instead of a simple text like earlier. Would it be possible to make the site return text errors, for example after specifying some additional parameter to api.php?

[2015-10-07 21:00] nokonoko commented on #17
Post against http://uguu.se/api.php?d=upload-tool instead to get plain text.

[2015-10-08 02:29] tsudoko commented on #17
Works, thanks.

[2015-10-08 02:29] #17 closed

[2015-11-02 12:43] phz1 opened #19 "Download pages"
I thought about making download pages for every file, which simply includes a download-button, a preview for the file (mp4 or gif for example), the download button simply redirects to the full url, without any token or so

[2015-11-02 14:18] avail commented on #19
Double the server's bandwidth? Not that hard to implement, though.

[2015-11-02 16:15] phyze commented on #19
Well, the download pages could remove themselves, as the files do.

[2015-11-02 22:00] avail commented on #19
If you load the download page it will load the file to preview it, and if you decide to download the file it will load the file once more.

[2015-11-03 19:56] phyze commented on #19
That's true. What if it could get implemented into a config file, and we'd have an option for using download pages or not?

[2015-11-03 21:13] tsudoko commented on #19
If this idea ever gets implemented, please make sure to include a way to get the direct link.

[2015-11-05 21:29] nokonoko commented on #19
Why have thumbnails/preview and shit on something that will only be available for 24 hours?

Feel free to add it, but it will be turned of by default.

[2015-11-05 22:01] avail opened #20 "Make Uguu less shit"
- Use composer for packages
- Silex (?) for service managing
- Clean up current code
- Replace raintpl with twig?
- Update README.md

I'll get to doing all of this when I have some free time. Soon, hopefully.
@nokonoko if you have anything to add, just write it here and I'll look into it

[2015-11-05 23:07] nokonoko commented on #20
Will any of these changes improve speed, make it easier to setup, easier to understand what does what and how to change it while still keeping it rather minimal?

Remember that fast and simple is the key term here.

[2015-11-06 01:25] avail commented on #20
It would add one extra step to the setup - php composer.phar install, to install the packages.
It would allow for better download URLs, such as uguu.se/generatedfilename/originalfilename, it would make the code loads easier to understand, everything would be cleaner.
It wouldn't change the speed by much.

[2015-11-09 18:12] phyze commented on #19
We also could disable the 24 hours option and just use it as a permanent site.

@tsudoko The download button should redirect to the direct link, without any session or token as I stated above.

[2016-01-16 22:02] Smallinger opened #21 "a Progress bar ?"
Hi, my upload speed is very bad. When i upload a big file can't be sure that the file is still uploading without opening my network monitor.

It would be easier if there a progress bar, too finde out how much percent are left

[2016-01-16 23:25] tsudoko commented on #21
Chrome displays your progress in the status bar thing on the bottom, upload scripts can display progress too. Not sure about ShareX since I don't use it myself, but it should have the ability to do that as well.

[2016-01-17 05:30] Junxx commented on #21
Hey, first thx for the answer...
i dont use chrome, and there is the problem, its only a tipp, you guys use the materializecss, and in the Android browser you have a Progressbar under the URLbar, so why not ? :D.

My problem is i need too mutch work like more then 2-3 weeks to do it my self, and the biggest problem then is that is not perfect and i think then its still buggy, so i hope that the id

[2016-01-28 16:00] tobbez opened #22 "Show blocked file types on info page"
Right now you won't know if a file type is blocked until you have tried uploading it, and the info page reads "Store any filetype", which is obviously not true.

[2016-01-28 19:19] nokonoko commented on #22
fixed.

[2016-01-29 05:08] #22 closed

[2016-02-12 18:23] alwaysontop617 opened #24 "Needs an Automatic Installer and an Administration Area"
I'd be willing to help you created an automatic installer that will do everything. You also need an Administration Area which I would also like to help you with.

[2016-02-12 20:24] 0x587669 commented on #24
please do

[2016-02-12 20:37] avail commented on #24
but please don't do messier code than neku

[2016-02-12 20:48] nokonoko commented on #24
my code is mint @avail, lmao.

[2016-02-12 21:04] avail commented on #24
your commit messages suck too, @nokonoko <3

[2016-02-16 13:58] alwaysontop617 commented on #24
@avail @nokonoko @0x587669 Great idea before I begin, Do you want to use bootstrap?

[2016-02-16 14:04] alwaysontop617 commented on #24
Also Im going to need $10 to help you. You can give me money at gogetfunding.com/evolve and I'd be glad to code you a basic install. P.S. You will need to work on styles (**seriously**)

[2016-02-16 16:20] avail commented on #24
h o l y
s h i t

[2016-02-16 17:12] nokonoko commented on #24
@alwaysontop617 lmao, fuck off.

[2016-02-16 17:20] GandaG commented on #24
Someone doesn't understand what open source is

[2016-02-16 18:28] alwaysontop617 commented on #24
@GandaG @nokonoko Sorry Ill do it free!!!!!

[2016-02-16 18:51] alwaysontop617 commented on #24
https://ide.c9.io/dodiaraculus/uguu
Here is the url to my code!!

[2016-02-17 13:55] alwaysontop617 commented on #21
This is a great idea

[2016-02-17 19:41] GandaG commented on #24
I don't want to be mean, [but...](https://help.github.com/articles/creating-a-pull-request/)

[2016-02-18 17:15] alwaysontop617 commented on #24
K I cant figure it out

On Wed, Feb 17, 2016 at 1:41 PM, Daniel Nunes <notifications@github.com>
wrote:

--
Sincerely,
Thomas Wilbur

[2016-02-18 18:30] GandaG commented on #24
@alwaysontop617 Just fork, clone your fork, add your code and make a pull request. I'm sorry but I doubt anyone even looked at your code, specially considering it's somewhere that requires registering.

[2016-02-18 19:29] alwaysontop617 commented on #24
Is it good?

On Thu, Feb 18, 2016 at 12:30 PM, Daniel Nunes <notifications@github.com>
wrote:

--
Sincerely,
Thomas Wilbur

[2016-02-19 17:59] alwaysontop617 commented on #24
HELLO

[2016-03-16 00:37] alucard0134 commented on #24
IT ISNT THAT HARD OF A CONCEPT TO MAKE A PULL REQUEST

and why are there two files with a php extension that is actually pure html .-.

[2016-03-16 08:53] nokonoko commented on #24
Which ones?

[2016-03-16 14:18] alucard0134 commented on #24
ill create a pr of his changes uno sec

[2016-05-14 21:01] alucard0134 commented on #24
close pls? @nokonoko

[2016-05-14 21:51] #24 closed

[2016-05-14 22:05] alucard0134 commented on #20
i still am very against the original filename idea, still really no point to any of this for a extra step for just neatness

[2016-05-14 22:05] alucard0134 commented on #19
that would nullify the point of uguu

[2016-05-14 22:08] Battleroid commented on #11
Though it's shit, you could write something similar [like this](https://github.com/Battleroid/ppupload/blob/master/check.py). Just check for the ctime and remove if older than whatever by cronjob.

[2016-05-15 09:41] Kattus commented on #19
@alucard0134 Some of us change the timer to better suit our needs.

[2016-05-15 14:13] alucard0134 commented on #19
true as a clone maintainer, but we all know as a maintainer it isn't that hard to remove the temporary portion of ugui

[2016-05-15 15:10] nokonoko commented on #21
Feel free to add this.

[2016-05-16 21:05] JamesTheAwesomeDude commented on #11
@jackwilsdon The idea that you would intentionally deprive a user access to a file which does in fact exist and had been occupying disk space up to that very moment seems a little counterintuitive…

Better to find a way to delete files due to _in_ activity IMHO

[2016-05-16 21:14] jackwilsdon commented on #11
@JamesTheAwesomeDude the issue with that is you'd need some form of script or process running in the background to handle that, whereas my suggestion is a passive one. I admit it's not the most efficient, and if someone only accesses a file once then it's there forever. Really the only *decent* way to do it involves a background process / script running periodically and sweeping up the expired fil

[2016-06-02 16:44] nokonoko opened #28 "Check.sh not working with 1440 minutes"
The current check.sh:
`#! /bin/sh
find $(grep -oP '"CONFIG_FILES_PATH", "\K(.*)(?=")' config.php) -mtime +$(grep -oP '"CONFIG_MAX_RETENTION_TIME", "\K(.*)(?=")' config.php) -exec rm -f {} \;`

Does not seem to delete files if you set it to 1440 minutes, it doesn't throw a error, it just doesn't for now uguu.se uses the old check.sh instead:
`find /home/neku/www/files/ -mmin +1440 -exec rm -f {} \;

[2016-07-05 23:09] Kattus commented on #28
Just realized this wasn't working for me either, and that -mtime is for minutes, so you're setting it to delete files after 1440 days (mine was set to remove after 129600 days and it obviously wasn't deleting anything lmao)

[2016-09-07 07:14] fitrinator commented on #28
the first thing I had to do was change -mtime to -mmin.
As for the cron job:
`0,15,30,45 * * * * cd /path/to/uguu/includes && bash check.sh`

check.sh relies on the variables in config.php which it won't get it check.sh is running on a different directory.

[2016-09-11 09:02] geistesk commented on #11
This issue may be older but I want to suggest to use the `atime` (access time) of the file which is stored by the filesystem. The check.sh-script already uses `mtime` so why don't use the `atime`?
[code]

Please consider the `find` manpage,  which says that `-mtime` (and `-atime`) are for days and you want to use `-mmin` (and `-amin`). This issue was already addressed in #28.

[2016-10-16 18:28] illumniggati commented on #28
I've just created a pull request with the fix. The flag `-mtime' uses days as an input, not minutes. `-mmin' is the correct flag.

[2016-10-16 22:53] k0nsl opened #31 "API upload via cURL returns 500."
When I run:
`k0nsl@k0nsl-work01 ~/Pictures $ curl -i -F name=k0nsl-test.jpg -F file=@/home/k0nsl/Pictures/k0nsl.jpg https://domain.tld/api.php?d=upload`
It returns:
[code]
Along with the entire HTML output:
[code]
The file **_is_** uploaded, though. I'm just curious why it replies with 500 rather than a 200 OK?

[2016-10-16 23:23] #31 closed

[2016-10-19 19:06] nokonoko commented on #28
Should be fine now then I suppose, haven't actually tested but yeah

[2016-11-01 19:45] bonzi opened #32 "Is there a posibility of adding accounts before people can upload?"
Im looking for a solution to make my instance of Uguu have uploads identifiable to a user and so can be punnished for breaking rules of uploading, e.g. illeagl stuff.

Is there a good solution to this or am I stuck?

Thanks -
    @alfster2012

[2016-11-01 20:24] k0nsl commented on #32
@alfster2012: you could modify/include the following solution if you need this ASAP.

See: https://github.com/fethica/PHP-Login

[2016-11-03 17:42] alfster2012 commented on #32
@k0nsl how would you implement this? I'm having to do htpassword on my nginx rules which are a pain

[2016-11-04 11:19] avail commented on #32
basic PHP knowledge is required.

[2016-11-08 20:24] zetok opened #33 "Expired cert on the website"
`SEC_ERROR_EXPIRED_CERTIFICATE`

Perhaps use Let's Encrypt?

[2016-11-08 21:22] nokonoko commented on #33
Fixed, used let's encrypt for once.

[2016-11-09 08:42] zetok commented on #33
Thanks :-)

[2016-11-09 08:42] #33 closed

[2016-11-09 17:41] avail commented on #20
@alucard0134 I know this is a over a year later, but, the originalfilename can be omitted,
i.e. the uguu.se/generatedfilename would download the original file name as well.

[2016-11-09 17:53] k0nsl commented on #20
@avail: Hello. Did you ever pursue any of those changes/additions you listed in this issue, perhaps in the form of a fork? I would be interested to see some of these changes in Uguu as well.

[2016-11-09 17:54] avail commented on #20
@k0nsl I had completely forgotten on this issue until now. I am currently setting a developing environment, and will actually start work on those now.

[2016-11-09 17:58] k0nsl commented on #20
That sounds great, @avail. I have an instance of Uguu deployed but I haven't done any changes worth mentioning. Looking over the code, it could certainly need a clean-up. It's a neat little project :)

[2016-11-09 18:17] k0nsl commented on #28
I couldn't get `check.sh` to work even after I corrected it. So I simply created a somewhat modified solution which works for me.

Crontab:
[code]

Check.sh:
[code]

As I say, it works for me.

[2016-11-09 18:59] alucard0134 commented on #20
daily reminder @avail still never fixed my email password

also sounds gucci

[2016-11-09 19:11] avail commented on #20
@alucard0134 e-email password? :o

[2016-11-09 19:12] alucard0134 commented on #20
check twitter DMs ya cuck

[2016-11-09 19:13] alucard0134 commented on #11
(cough ls -ltu or ls -l --time=atime)

[2016-11-09 19:14] alucard0134 commented on #32
and based off your avatar i doubt you have that

[2016-11-09 19:14] avail commented on #20
I haven't got any from you /shrug - if you're talking about pomf mails, I haven't got anything to do with that. poke @nokonoko for that

[2016-11-09 19:15] alucard0134 commented on #20
god fucking shit i thought you were neko

[2016-11-09 19:16] avail commented on #20
lMAO

[2016-11-09 19:17] alucard0134 commented on #20
;_;

[2016-11-09 19:40] avail commented on #20
I've started work on it, btw, progress can be seen @ my fork in the 'rewrite' branch, https://github.com/avail/Uguu/commits/rewrite

[2017-02-27 20:57] k0nsl opened #34 "Replace 'gen_name' with native 'tempnam'?"
I tried to do this on my own some days ago but I didn't really get anywhere as I had no time for it so ultimately I gave up. But I think it would be worth having a shot at, if somebody else can come up with a solution for making it work.

We could replace `gen_name` and simply use `tempnam`, see: http://php.net/manual/en/function.tempnam.php

The performance benefit may not be enormous, but maybe

[2017-05-18 15:16] LordBonzi opened #37 "Change File Size Upload Limit"
Is there a way to change the upload file size limit to a custom Uguu instance?

[2017-05-18 17:22] Kattus commented on #37
yeah, set it up in your web server.

[2017-06-20 01:21] Lorhelei opened #38 "uguu.exe can run without python?"
I'm trying to implement Uguu on a C# application but I can't find a way to use it from here, the problem is'nt making Uguu run into my program, but into a pc without python. I tried with the Exe that comes into "Scripts" and using cmd process, but the file doesn't upload, and the log doesn't show anything. Just sends:

Sorry for asking such things, im totally new in python things and I don't under

[2017-06-20 19:50] avail commented on #38
what are you talking about..?

[2017-06-20 20:23] Lorhelei commented on #38
@avail I'm trying to use the api into a C# project. But I want it to run in a pc without python. So I compile it into an exe. But I can't get the exe to run properly.

[2017-06-21 07:49] avail commented on #38
First of all, Uguu is made in php, not python - so where did you get the python dependency from??
Secondly, 'the api'? You just make a HTTP Request to `uguu.se/api.php?d=upload-tool` with the file you want to upload in the `file` request.

[2017-06-21 12:32] Lorhelei commented on #38
@avail lol. Isn't made in php. Php is web programing used to execute simple html and other script from a server side, you don't do "programming" on php.

Second:
_Http://en.wikipedia.org/wiki/Application_programming_interface_

The api is the way you can use the source code into another project...

And last:
_https://uguu-api.readthedocs.io/en/latest/_

I get it from the documentation...

But I di

[2017-06-21 16:43] nokonoko commented on #38
Haha what the fuck am I reading, @Lorhelei if you actually look at the source on this Github you would see that there is no Python, this is the front and backend to Uguu.se, not any of the tools or other stuff.

And as Avail said the API for Uguu.se is as follows on https://github.com/nokonoko/Uguu/blob/master/tools.txt

Honey you dumb as a rock.

[2017-06-21 16:48] nokonoko commented on #37
Change in PHP.ini and in your nginx.conf or similar, wonders of technology ay.

[2017-06-21 16:48] #37 closed

[2017-06-21 20:13] Lorhelei commented on #38
I thought I left clear I was trying to use the Python API

But well... Thanks anyway. :+1:

[2017-06-21 20:13] #38 closed

[2017-08-11 11:08] misaka00251 opened #39 "404 on nginx with php7?"
The file DOES exist.
But nginx say it DOES NOT exist and show me 404.
Should it be the problem with php7?

[2017-08-12 22:35] Kattus commented on #39
I run this with nginx+php7.0, you've set something up wrongly.

[2017-08-13 02:29] misaka00251 commented on #39
yeah so the default directory is "/path/to/Uguu/public/files", but it default generate link like "http://example.com/files/something_here" instead of "http://example.com/public/files/something_here"

Solved.. Dumb Question.

[2017-08-13 02:29] #39 closed

[2017-08-13 12:52] avail commented on #39
your vhost is supposed to point to the public/ directory, not the source one.

[2018-01-19 20:31] MrMuttons opened #40 "C:\fakepath"
So, I'm not really sure what's causing this, as I'm new to html, and wanted a simple file / image host for a few friends, i followed the instructions to the best of my knowledge, yet i get C:\fakepath\image.png when i select it from chrome, and when i upload it, it takes me to Site/api.php?d=upload with an error 500

[2018-01-20 02:58] nokonoko commented on #40
Are you uploading with a phone?

Skickat från min iPhone

[2018-01-20 17:02] MrMuttons commented on #40
No. uploading it to my raspberry pi via sftp from windows

[2018-01-20 17:14] nokonoko commented on #40
Are u usimg the correct post request? What are u trying to do, why via sftp???

Skickat från min iPhone

[2018-01-20 18:41] Jeroen52 commented on #40
@nokonoko Could be that he meant that he uploaded the uguu code via SFTP instead of using `git clone`.

Does the webserver have the rights to access the files? Are they under the correct owner?

Use `ls -lah` to check the permissions of the files.

You can use `chown -R apache:apache /path/to/uguu` to set the user to that of your webserver, of course replacing `apache` with the correct user.

Try

[2018-01-20 21:05] MrMuttons commented on #40
i'm not sure about the owner bit.
but when i did the chmod, the site throws a 403

again, 0 clue as to what im actually doing. i mostly copy + paste with no real knowledge of what im doing

[2018-01-20 22:52] Jeroen52 commented on #40
Error 403 means forbidden, so the file is most likely inaccessible for the webserver from the filesystem.

Can you paste your `ls -lah`?

[2018-01-21 00:27] MrMuttons commented on #40
i got it working now, but i still get
https://gyazo.com/4819bcd9f65173249ac6be94b3354262

[2018-01-21 00:30] Jeroen52 commented on #40
And you installed uguu on a Raspberry Pi?

[2018-01-21 00:35] MrMuttons commented on #40
yes

[2018-01-21 00:48] Jeroen52 commented on #40
Can you execute `php -v`?

[2018-01-21 00:52] MrMuttons commented on #40
PHP 7.0.19-1 (cli) (built: May 11 2017 14:04:47) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.19-1, Copyright (c) 1999-2017, by Zend Technologies

[2018-01-21 01:01] Jeroen52 commented on #40
Does the file actually get uploaded to the server? Is it only the redirect that doesn't work?

If that isn't the case, can you make a video of you uploading a file or try to use `tail -f` on the error_log file.

[2018-01-21 01:03] MrMuttons commented on #40
the file doesnt even upload. it throws something about an api in the address bar, but doesnt work

[2018-01-21 01:09] MrMuttons commented on #40
https://youtu.be/k0IoaHK477M
and i see no error_log. do you mean error.php, or error_meow.php

[2018-01-21 01:22] Jeroen52 commented on #40
`error_log` should be somewhere in `/var/log/apache` or `/var/log/httpd`, please show the contents of those directories using `ls -l`

[2018-01-21 01:26] MrMuttons commented on #40
total 156
-rw-r--r-- 1 www-data www-data      0 Dec 24 06:25 access.log
-rw-r--r-- 1 www-data www-data 123769 Dec 16 23:06 access.log.1
-rw-r--r-- 1 www-data www-data  10091 Jan 21 01:06 error.log
-rw-r--r-- 1 www-data www-data    316 Jan 12 22:35 error.log.1
-rw-r--r-- 1 www-data www-data    143 Jan  7 01:27 error.log.2.gz
-rw-r--r-- 1 www-data www-data    187 Dec 28 04:24 error.log.3.gz
-rw-r--r

[2018-01-21 01:28] MrMuttons commented on #40
side note, how would i get a folder to look like this?
https://gyazo.com/e20709bab112161ccc610faa9dbde6de

[2018-01-21 01:34] Jeroen52 commented on #40
That'd be a bit more difficult, as it seems that you're not using a separate virtualhost. If you were to place a .htaccess in ./public/files then it could be deleted again.

First of all, what kind of errors are there in error.log?

[2018-01-21 01:38] MrMuttons commented on #40
https://paste.ubuntu.com/26427112/
heres everything in it

[2018-01-21 01:42] Jeroen52 commented on #40
What is the contents of your `/var/www/html/includes/config.php`?

[2018-01-21 01:45] MrMuttons commented on #40
https://paste.ubuntu.com/26427142/

[2018-01-21 01:50] MrMuttons commented on #40
it uploads, but still says fakepath in it.

[2018-01-21 01:55] Jeroen52 commented on #40
The fakepath issue doesn't seem like anything important.

But you could do the following and paste the output.

`grep -r 'fakepath' /var/www/html/`

[2018-01-21 01:56] MrMuttons commented on #40
there was no output
https://gyazo.com/a96b15b4a7ec9121ba15030a2c26aa91

[2018-01-21 02:03] Jeroen52 commented on #40
I just searched something, and I realized what the problem was.

There is no problem, it is a security feature.

https://stackoverflow.com/questions/4851595/how-to-resolve-the-c-fakepath

[2018-01-21 02:04] MrMuttons commented on #40
heck. well then. thanks for all the help by the way.

[2018-01-21 02:05] MrMuttons commented on #40
Wait, im still having the issue above,
when clicking the link it gives, it takes me to files/filename.png
instead of /public/files/filename.png

[2018-01-21 02:07] Jeroen52 commented on #40
Do you get a 404 error when clicking on that link?

[2018-01-21 02:07] MrMuttons commented on #40
yep

[2018-01-21 02:09] Jeroen52 commented on #40
A "yep" on the 404 or a "yep" that the file exists when you manually go to it?

[2018-01-21 02:10] MrMuttons commented on #40
yep for both

[2018-01-21 02:28] Jeroen52 commented on #40
I'm going to sleep right now, but it might be something to do that the webserver config isn't done properly, and in specific allowing override in the directory.

https://github.com/nokonoko/Uguu/blob/master/README.md

If I have time tomorrow morning I could help you through it, if not I'm sure that @nokonoko can help you from here.

[2018-01-21 02:29] MrMuttons commented on #40
least it works now. Thanks for all the help!

[2018-01-21 02:31] Jeroen52 commented on #40
No problem, it isn't set up 100% properly it seems.

Are you sure you followed the installation guide properly and didn't skip anything?

[2018-01-21 02:37] MrMuttons commented on #40
im not sure. i don't think i did the virtual host.
after reading that bit, i saw this. and think it may be an issue. but im using neither nginx nor apache
 Alias "/files" "/var/www/Uguu/public/files/"
        <Directory /var/www/Uguu/public/files/>

[2018-01-21 02:39] MrMuttons commented on #40
not even sure how to set up virtualhost.

[2018-01-21 20:28] MrMuttons commented on #40
I've fixed the eorr with the uploaded file being pointed to /files/ instead of /public/files/
was missing /public/ in upload-done.php

Thanks for all the help @Jeroen52

[2018-01-21 22:05] Jeroen52 commented on #40
That is really weird, it should work out of the box if you edit only the config files.

[2018-01-22 01:06] Jeroen52 commented on #40
Did you set up a crontab?

[2018-01-22 03:29] MrMuttons commented on #40
i don't believe so

[2018-01-22 03:32] MrMuttons commented on #40
got it

[2018-01-27 23:44] MrMuttons commented on #40
im not sure i saw the way to change the file size limit. i'd like it to be 300mb, but i didnt really see it in the documentation, nor the configs?

[2018-01-28 01:02] Jeroen52 commented on #40
The file size limit is PHP's file size limit, so edit /etc/php.ini

[2018-02-09 19:45] Jeroen52 commented on #40
Can we close this issue?

[2018-02-09 19:57] Jeroen52 opened #42 "Some large files (about 5GB) give an error and don't get uploaded properly and fill up /tmp"
I wouldn't really mind if it just gave an error, but it also fills up `/tmp` which is worse.

I can't make a crontab since all files getting uploaded are temporarily saved while transferring are saved in `/tmp/phpXXXXXX`

Of course if multiple 5GB files are getting uploaded the partition will fill up quickly.

[2018-02-09 21:42] #40 closed

[2018-02-10 05:07] MrMuttons opened #43 "api gives wrong link"
when uploading via api, in sharex , it gives me
 /storage/files/img.png
instead of
/storage/public/files/img.png
The file's uploaded properly, however it gives me the wrong url for it

[2018-02-10 10:49] avail commented on #43
your host's root is supposed to be public/, not one folder above that

[2018-02-10 12:30] MrMuttons commented on #43
root folder of site is var/www/html

root folder of uguu is var/www/html/storage
not quite sure what you mean

[2018-02-10 12:56] avail commented on #43
root folder of site should be /var/www/html/public

[2018-02-10 13:02] MrMuttons commented on #43
everything uploads fine, however, when using sharex it gives
http://site.com/storage/files/file.png
instead of
http://site.com/storage/public/files/file.png

[2018-02-10 15:35] avail commented on #43
the 'public' bit is never supposed to be in your url.

[2018-02-10 16:07] MrMuttons commented on #43
when i downloax off github it hase a public/files bit

[2018-02-10 17:27] MrMuttons commented on #43
error fixed manually

[2018-02-10 17:27] #43 closed

[2018-02-12 19:09] 1265578519 opened #44 "请问api文件是存储在uguu的服务器中么？"
请问api文件是存储在uguu的服务器中么？

[2018-02-12 19:13] 1265578519 commented on #42
你可以挂载lvm到/根目录，这样tmp可以获取一个非常巨大的空间
[root@localhost ~]# df -h
Filesystem            Size  Used Avail Use% Mounted on
/dev/mapper/VolGroup-lv_root
                       400G   27.2G  372.8G  6% /
tmpfs                 499M     0  499M   0% /dev/shm
/dev/vda1             477M   28M  425M   7% /boot
[root@localhost ~]#

[2018-03-09 11:14] 1265578519 opened #45 "代码报错，，怎么解决"
PHP Warning: require_once(includes/config.php): failed to open stream: No such file or directory in /home/ftp/w/ww/wwwroot/index.php on line 3
PHP Fatal error: require_once(): Failed opening required 'includes/config.php' (include_path='.:/vhs/kangle/ext/tpl_php5633/lib/php') in /home/ftp/w/ww/wwwroot/index.php on line 3

[2018-03-09 11:15] 1265578519 commented on #45
HTTP ERROR 500

[2018-03-09 12:23] 1265578519 commented on #45
PHP Fatal error:  Uncaught exception 'RainTpl_NotFoundException' with message 'Template footer not found!' in /home/ftp/w/ww/wwwroot/rain/rain.tpl.class.php:271
Stack trace:
#0 /home/ftp/w/ww/wwwroot/rain/rain.tpl.class.php(164): RainTPL->check_template('footer')
#1 /home/ftp/w/ww/wwwroot/index.php(28): RainTPL->draw('footer')
#2 {main}
  thrown in /home/ftp/w/ww/wwwroot/rain/rain.tpl.class.php on

[2018-03-09 12:23] 1265578519 commented on #45
PHP Warning:  include_once(/path/to/uguu/includes/core.php): failed to open stream: No such file or directory in /home/ftp/w/ww/wwwroot/api.php on line 8
PHP Warning:  include_once(): Failed opening '/path/to/uguu/includes/core.php' for inclusion (include_path='.:/vhs/kangle/ext/tpl_php5633/lib/php') in /home/ftp/w/ww/wwwroot/api.php on line 8
PHP Fatal error:  Call to undefined function save_file

[2018-03-09 12:24] 1265578519 commented on #45
一堆问题，求修复。

[2018-03-09 12:29] Jeroen52 commented on #45
你好!

As the warning states, it is trying to open `/path/to/uguu/includes/core.php`.

Can you show me your `config.php`? It could be that you need to edit some variables in that file.

[2018-03-09 21:11] 1265578519 commented on #45
@Jeroen52 mv includes/config.template.php includes/config.php
我进行了一个文件重命名操作，使用了默认的config.php

`<?php
//This is the configuration file for Uguu Temp File Sharing system
define("CONFIG_ROOT_URL", "http://path.to.uguu");
//Enable this if you use a subdomain for serving uploaded files
define("CONFIG_SUBUPLOAD_URL_ENABLED", "false");
//Only define this if the above is set to true
define("CONFIG_SUBUPLO

[2018-03-10 00:24] Jeroen52 commented on #45
@1265578519 You also need to edit the file and change the values in the file to the appropriate values.

You'll need to edit at least these variables:
- CONFIG_ROOT_URL
- CONFIG_FILES_PATH
- CONFIG_ROOT_PATH

Please take a look at the instructions in the [README.md](https://github.com/nokonoko/Uguu/blob/master/README.md).

---

@1265578519 您还需要编辑文件并将文件中的值更改为适当的值。

你至少需要编辑这些变量：

CONFIG_ROOT_URL
CON

[2018-03-10 18:39] 1265578519 commented on #45
@Jeroen52 我在README.md中都没有找到相关的说明，可以提供一份你的config.php参考么。

[2018-03-10 18:39] 1265578519 commented on #45
@Jeroen52
![1](https://user-images.githubusercontent.com/6442439/37245593-6fedc2ce-24d5-11e8-8a33-0907b9fa2e8f.jpg)

[2018-03-10 20:41] Jeroen52 commented on #45
@1265578519 First you need to move includes/config.template.php to includes/config.php (`mv includes/config.template.php includes/config.php`).

Then you'll need to edit includes/config.php (`nano includes/config.php`)
You'll need to change the appropriate variables to the correct values.
Here is an example of my includes/config.php.
[code]
---
@1265578519 首先你需要将 includes/config.template.php 移动到 i

[2018-03-11 14:48] 1265578519 commented on #45
通过测试，他已经可以运行，并且必须创建一个files文件夹与中文字符需强制勾选Generate random filename。

CONFIG_FILES_PATH需要设置服务器的绝对路径到files文件夹，否则会出现404，不能为其它文件夹
CONFIG_ROOT_PATH需要设置到绝对路径的wwwroot文件夹，否则会出现open_basedir 错误。
因为服务器主机的php.ini启用了open_basedir = "${doc_root}:/tmp"

如果不勾选Generate random filename会导致一些异常字符引起一个后台文件管理异常。。
![2](https://user-images.githubusercontent.com/6442439/37254832-4ebb8a9c-257e-11e8-8bb1-45b5b36c181f.png)
![111]

[2018-03-11 15:34] 1265578519 commented on #45
![1](https://user-images.githubusercontent.com/6442439/37255260-ba7a0e06-2584-11e8-8f8d-147ab4854187.jpg)
客户端的话randomname=on即可。

[2018-03-11 23:53] Jeroen52 commented on #45
I'm glad that you got it in a working state, all you have to do now is modify it slightly to fit your needs.

I can't really help you with the character exceptions, I'd suggest posting a detailed report about it in English so it can be permanently resolved.

---

我很高兴你已经处于工作状态，你现在要做的只是稍微修改它以适应你的需求。

我无法真正帮助你了解字符的例外情况，我建议用英文发布详细的报告，以便能够永久解决。

[2018-03-12 11:33] nokonoko commented on #44
Could you elaborate, the API is stored on the server facing the public web folder in order for others to use the API and whatnot.

[2018-03-12 11:34] nokonoko commented on #32
This is something I could add on request but be aware it might be a while until I'll deploy due to me not having time to do shit.

[2018-03-12 11:37] nokonoko commented on #28
So we fine now?

[2018-03-12 12:34] Jeroen52 commented on #32
I think that adding authentication to Uguu would go against what Uguu is made for.

I'm of the opinion that Uguu's authentication-less ways of working suits me and many alike.

And I'm pretty sure that there are plenty account based file uploads out in the wild.

[2018-03-12 15:39] nokonoko commented on #32
Well ye, but they're not Uguu :), jokes aside it could be an "addon" and actually not enabled or unpacked by default.

[2018-03-16 15:34] Dibbyo456 opened #47 "Can I remote upload using API?"
Let's say,

I wants to upload a file which located at "http://example.com/filename.zip".
Can I directly upload the zip file from remote URL using API?

[2018-03-16 22:00] #47 closed

[2018-05-22 16:44] #44 closed

[2018-05-22 16:45] 1265578519 opened #52 "白名单模式如何做成这样的选择框"
![2](https://user-images.githubusercontent.com/6442439/40377090-9887d4e6-5e22-11e8-89f8-aadc2c06a1f6.jpg)
![1](https://user-images.githubusercontent.com/6442439/40377091-98d0e58c-5e22-11e8-8325-f59241614c52.jpg)

[2018-07-20 00:09] MrMuttons opened #53 "apache on windows server"
Just wondering if there's a way for me to get this working on windows as i've switched serverOS'
is there a way for me to get this back up on windows? if not, is there an alternative to this with a sharex api that i can use to replace this?

[2018-07-20 00:39] MrMuttons commented on #53
to clearify, when uploading an image, i get error 500. and am unaware of how to fix this.

[2018-07-20 10:37] nokonoko commented on #53
Are u running nginx?

Skickat från min iPhone

[2018-07-20 17:20] MrMuttons commented on #53
No, apachi on windows

[2018-07-21 16:51] nokonoko commented on #53
Then u will have to match it to the nginx conf, i cant provide a example atm cuz on phone for a week.

But start with setting the permissions correctly.

Skickat från min iPhone

[2018-07-21 19:20] MrMuttons commented on #53
turns out i didnt change the paths in the config

[2018-07-21 19:20] #53 closed

[2018-09-24 21:36] cicina commented on #40
Hello, I can confirm, the path of the uploaded file is indeed wrong in upload-done.php. Not a big deal though. Just installed your software, it works nicely thanks!

[2018-09-25 13:15] NyanKiyoshi commented on #40
It's just a feature from some browsers to prevent JavaScript from knowing your file's local full path.

[2018-10-30 16:33] fengxiaoyue commented on #20
Is this thing still alive?

[2018-10-30 17:45] nokonoko commented on #20
maybe

[2018-10-30 17:55] Jeroen52 commented on #20
I'm here, but I'm a hoster in this case and not a dev.

[2018-10-30 18:06] nokonoko commented on #20
Coolio, tbh I have a much more up to date version on the actual Uguu site which includes MIME typ blocking and whatnot to avoid people to just change a .exe to .jpg and whatnot.

Ill push that version one day in the nether.

[2018-11-12 20:17] butjar opened #55 "Enable CORS on https://uguu.se/"
Did you consider enabling CORS on your publicly hosted website ? I would love to integrate it as a service in a small website I host.

[2019-09-20 01:36] EcUSEmbassy opened #57 "Error saving file"

[2019-10-17 21:00] wolfkin opened #58 "Add (.kdbx) to whitelist of file types"
The `.kdbx` extension is used by KeePass to label their database files. Completely non malicious.

https://keepass.info/index.html

[2019-10-18 08:51] nokonoko commented on #58
Feel free to add that to your own instance, tbh I dont think that filetype is banned on uguu.se.

However I wouldn’t recommend uploading things related to your password safe on a public file sharing service.

Skickat från min iPhone

[2019-10-23 00:12] #57 closed

[2019-10-23 17:26] wolfkin commented on #58
I have other protections built into the DB but it seems whatever the issue is it's resolved now.

[2019-10-23 17:26] #58 closed

[2020-04-09 08:32] opoto commented on #55
To support CORS:

- Accept/serve OPTIONS requests
- Add following headers to all PUT/POST/GET/OPTIONS/DELETE HTTP responses:
  - Access-Control-Allow-Origin: *
  - Access-Control-Allow-Methods: PUT, POST, GET, OPTIONS, DELETE

Check this page to know more on CORS:
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

[2020-04-28 18:23] InvisibleRasta opened #60 "Writing a script for uggu"
Hello, guys i ahve been writing this script but for some reason i cant get any output...something is wrong and i cant figure it out. Maybe somone can help me

http://ix.io/2jVu

[2020-06-06 17:48] parkkw472 opened #61 "Files larger than 100MB cannot be saved"
### To do : set the file to save up to 500 MB

Execution environment:

Things I tried:

If I upload a file smaller than 100MB, it works fine, but trying to upload a file larger than 100MB displays a link to the file and appears to have been uploaded normally, but it is not actually being saved. Is there any workaround for this problem?

[2020-06-07 09:56] nokonoko commented on #61
That's weird, have u checked if u need to change something in apache confs?

On a other note I just realized nothing is actually checking how big a file is before uploading lol, I'll add that seeing as even Pomf had it.

[2020-06-07 15:59] parkkw472 commented on #61
Yes, as I said before, I think I have done all the Apache related settings.

When I see that the file is uploaded to the end, it seems that there is a problem with storing in the server, not Apache.

The Apache log only shows that it was POSTed normally, but no other errors were logged.

[2020-06-23 19:31] parkkw472 commented on #61
Two weeks have passed since the Issue opened.
This problem is still occurring. Is there a workaround?

[2020-07-20 07:08] espressoelf commented on #61
Works fine on my new installation. From what I see, Uguu does nothing to limit the upload-size, so it's all about your PHP configuration. What does your PHP log say? Do smaller files work?

[2020-07-20 14:46] parkkw472 commented on #61
Small files are saved normally, but large files are not saved. There is no error in the PHP log :(

[2020-07-28 10:48] nokonoko commented on #61
Can you dump ur apache/nginx and php settings so we can take a look?

[2020-07-28 11:24] Jeroen52 commented on #61
The best way to get all this info is to post is to run `php -i` in the command line.

[2020-08-15 11:08] parkkw472 commented on #61
[apache2.conf.txt](https://github.com/nokonoko/Uguu/files/5078529/apache2.conf.txt)
[php -i.txt](https://github.com/nokonoko/Uguu/files/5078530/php.-i.txt)
[php.ini.txt](https://github.com/nokonoko/Uguu/files/5078531/php.ini.txt)

[2020-11-18 11:57] #11 closed

[2020-11-18 11:57] #12 closed

[2020-11-18 11:57] #14 closed

[2020-11-18 11:57] #19 closed

[2020-11-18 11:57] #20 closed

[2020-11-18 11:57] #21 closed

[2020-11-18 11:57] #28 closed

[2020-11-18 11:58] #32 closed

[2020-11-18 11:58] #34 closed

[2020-11-18 11:58] #42 closed

[2020-11-18 11:58] #45 closed

[2020-11-18 11:58] #52 closed

[2020-11-18 11:58] #55 closed

[2020-11-18 11:58] #60 closed

[2020-11-18 11:58] #61 closed

[2021-01-07 17:45] jithatsonei opened #63 "paste image/more uploading options?"
on my clone i had some wacky spaghetti javascript that when a user did ctrl+v anywhere on screen and it would detect wether its an image then pass it along to the upload handler

would be pretty cash money if we can have that since win 10 plops snips into paste (so did linux long before) as well as upload via url (possibly here, with the anonymous design of uguu it may not make sense to be stealin

[2021-01-25 17:53] nokonoko commented on #63
I'll look into the paste upload feature. Uploading from URL is something I'll probably never implement on Uguu.se due to it being very abuse prone, however might add the feature to the code so one can enable it for their own site.

[2021-02-07 17:13] Kohoshi12 opened #64 "Email registration"
Maybe it's not related, but I would love to register to mail.pomf.se. When I enter the site, it ask me for my username and my password, but I don't know to get a account, it's not clear. I want to use it just to register to Fediverse sites and Torrent.

[2021-02-07 19:13] nokonoko commented on #64
It’s not a open registration thus you are not able to make an account yourself. I sometimes announce when it’s available on Twitter.

Please email me about these question instead of opening a issue on Uguu. :)

[2021-02-07 20:12] Kohoshi12 commented on #64
Maybe a label of "registration closed" and "open for registration" on the https://status.uguu.se/ page to be clear to new users.

[2021-02-13 15:40] #64 closed

[2021-05-09 03:58] tag9724 opened #65 "Block SVG files by default"
SVG files can contain and execute Javascript code ( also CSS and HTML ) opening the server to XSS attacks.

## Example of SVG file

[code]

[2021-05-12 11:31] nokonoko commented on #65
Thanks for bringing this to my attention, I usually block file types once people actually start abusing them but let's be proactive for once.

I'll add this to the blacklist, wondering if one can specify e.g nginx to only serve svg as an image rather than with embedded shit... Probably not.

[2021-05-15 13:06] #65 closed

[2021-06-19 20:20] Ryanll8798 commented on #63
[https://github.com/nokonoko/Uguu/issues/63#issue-781492506]() @nokonoko

[2021-06-19 20:21] Ryanll8798 commented on #63
@

[2021-06-21 20:54] nokonoko commented on #63
Might be added in the next release as an option, it would however be abused a lot.

[2021-06-21 20:56] nokonoko commented on #63
Might add this in the next release.

[2021-06-22 16:29] nokonoko opened #68 "Hash not being inserted into DB"
I've noticed this happens sometimes, not sure if it's due to the code or permissions or PHP versions.

Seems like PHP has issues getting the sha1 for the tempfile.

Will look into it.

[2021-06-22 17:18] nokonoko commented on #68
fixed, patch released.

[2021-06-22 17:18] #68 closed

[2021-06-23 17:20] nokonoko commented on #63
Pasting has been added, url uploading will not be added.

[2021-06-23 17:20] #63 closed

[2021-06-23 22:33] GabenCrying opened #69 "Unable to make"
I have completed the detailed installation instructions in the documentation, however, once I get to the end

[code]

I am unsure how I can fix this. Anyone know whats going on here? Appreciate any help

[2021-06-23 22:34] nokonoko commented on #69
I'll check it out, give me a few minutes.

[2021-06-23 22:37] GabenCrying commented on #69
Thank you, I appreciate it

[2021-06-23 22:49] nokonoko commented on #69
Sorry about that, I forgot to update a dependancy. If you clone the repo and try again it should work.

[2021-06-23 23:06] nokonoko commented on #69
Confirmed to work now, at least for me. Just pushed the last changes.

[2021-06-23 23:12] GabenCrying commented on #69
Groovy man it compiled like a charm, thank you very much for your work!!

[2021-06-23 23:14] nokonoko commented on #69
Sweet! Thanks and no problem.

[2021-06-23 23:18] #69 closed

[2021-11-01 19:38] 0xpr03 commented on #65
FYI: you can use things like https://packagist.org/packages/enshrined/svg-sanitize
Otherwise you'd have to iframe that and disable scripts in it. Though it would be nice to share SVGs with other people.

[2021-11-06 18:24] nokonoko commented on #65
I'll look into it, I agree that being able to upload svg's would be nice.

[2022-01-01 14:55] Aqua22 opened #70 "Swig module not found"
Hello!
When I type in `make` into the terminal I get this error:

[code]

[2022-01-01 22:07] #70 closed